body, section, p, div, figure, span, b, button, a {
	margin: 0;
	padding: 0;
}

#btnReloadCSS {
	display: none;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 9999;
}

$light-blue: #05D3F8;
$blue: #009DDD;
$mid-blue: #386DBD;
$dark-blue: #0F4571;
$black: #3A3132;

$theme-1: #FA6900;
$theme-2: #F38630;
$theme-3: #E0E4CC;
$theme-4: #A7DBD8;
$theme-5: #69D2E7;

$theme2-1: #0B486B;
$theme2-2: #3B8686;
$theme2-3: #79BD9A;
$theme2-4: #A8DBA8;
$theme2-5: #CFF09E;

$p0-lighten: #df7c7c;
$p0: red;
$p1-lighten: #7bdc7b;
$p1: green;
$p2-lighten: #8097df;
$p2: blue;
$p3-lighten: #e0e17e;
$p3: yellow;

@mixin keyframes($name) {
	@-moz-keyframes #{$name} {
		@content;
	}
	@-webkit-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	}
}

%fill {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

/**
 * this super-shadow is originated from: http://codepen.io/zitrusfrisch
 */
@mixin super-shadow {
	text-shadow: 0 1px 0 hsl(174,5%,80%), 0 2px 0 hsl(174,5%,75%), 0 3px 0 hsl(174,5%,70%), 0 4px 0 hsl(174,5%,66%), 0 5px 0 hsl(174,5%,64%), 0 6px 0 hsl(174,5%,62%), 0 7px 0 hsl(174,5%,61%), 0 8px 0 hsl(174,5%,60%), 0 0 5px rgba(0,0,0,.05), 0 1px 3px rgba(0,0,0,.2), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.2), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.3);
}

// 来自 http://www.paulund.co.uk/creating-different-css3-box-shadows-effects
%card-effect {
	&:before, &:after {
		z-index: -1;
		position: absolute;
		content: "";
		bottom: 15px;
		left: 10px;
		width: 50%;
		height: 15px;
		background: #777;
		box-shadow: 0 15px 10px #777;
		-moz-transform: rotate(-3deg);
		-ms-transform: rotate(-3deg);
		-o-transform: rotate(-3deg);
		-webkit-transform: rotate(-3deg);
		transform: rotate(-3deg);
	}

	&:after {
		-moz-transform: rotate(3deg);
		-ms-transform: rotate(3deg);
		-o-transform: rotate(3deg);
		-webkit-transform: rotate(3deg);
		transform: rotate(3deg);
		right: 10px;
		left: auto;
	}
}

/* http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color: white !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: white !important;
	opacity: 1 !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: white !important;
	opacity: 1 !important;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: white !important;
}